@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Coquó</h1>
	<h4>Coquó is Latin for "I cook"</h4>
	<h5>
		Spend less time preparing meals, and more time feasting with friends and family...
	</h5>
	<img style="max-width: 800px" src="~/images/kitchen.jpg" alt="Kitchen" />
	<br /><br />
	<p class="text-left">
		Coquó is a home culinary app to manage your kitchen to efficiently keep your pantry stocked, with
		the freshest possible food, to feed you & your household.
		The goal of Coquó is to allow you to spend less time preparing meals, and more time feasting
		with friends and family...<br />
		<br />
		Coquó will help you:<br />
		Inventory Pantry Items (IE Ingredients)<br />
		Create Dish Recipes w/ detailed instructions, photos, and an ingredients list<br />
		Create a Meal Planner<br />
		Create Shopping Lists<br />
		Track Macro Nutrients
	</p>
</div>
