@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
	Your privacy is our policy!<br />
	<img style="max-width: 800px" src="~/images/privacy.jpg" alt="Your privacy is our policy!" />
	<br /><br />
	BOILER PLATE...
</p>
